@import "tailwindcss";

@keyframes gridMovingLine {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(140px);
    opacity: 0;
  }
}

@keyframes hover {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-hover {
  animation: hover 3s ease-in-out infinite;
}